extends partial/layout

block content
  #banner(style="background-image:url({{thumbnail}})")
    h1 {{{title}}}
    article {{{content}}}


// 编译出来的样子：
// <div id="banner" style="background-image:url({{thumbnail}})">
// <h1>{{{title}}}</h1>
// <article>{{{content}}}</article>
// </div>